@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/Global")
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2" id="side-nav-manager">
                    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sticky-top" style="width: inherit; position:fixed; height:100%; top:0; right:0">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                            <img src="~/Data/Images/dashboardBlack.png" class="bi me-2" width="40" height="40" />
                            <span class="fs-4">داشبورد مدیر</span>
                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="/Manager/User/Users" class="nav-link link-dark active" aria-current="page">
                                    <img src="~/Data/Images/dashboard.png" class="bi me-2" width="16" height="16" />
                                    مدیریت کاربران
                                </a>
                            </li>
                            <li>
                                <a href="/Manager/User/NotConfirmedUsers" class="nav-link link-dark">
                                    <img src="~/Data/Images/dashboard.png" class="bi me-2" width="16" height="16" />
                                    کابران تایید نشده
                                </a>
                            </li>
                            <li>
                                <a href="/Manager/Role/Roles" class="nav-link link-dark">
                                    <img src="~/Data/Images/dashboard.png" class="bi me-2" width="16" height="16" />
                                    مدیریت نقش ها
                                </a>
                            </li>
                        </ul>
                        <hr>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOut", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="dropdown">
                                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                                        <strong>@User.Identity.GetUserName()</strong>
                                    </a>
                                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                        @*<li><hr class="dropdown-divider"></li>*@
                                        <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">خروج</a></li>
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-10 order-5">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Manager")
    @RenderSection("scripts", required: false)
</body>
</html>