@model Vehicle.Client.Models.ConfirmEmailCodeVm
@{
    ViewBag.Title = "ConfirmEmailCode";
}

<div id="login">

    <h1><strong>Welcome.</strong> Please login.</h1>
    @using (Html.BeginForm("ConfirmEmailCode", "Account"@*, new { ReturnUrl = Model.ReturnUrl }*@, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<form>
    @Html.AntiForgeryToken()
    @Html.Hidden("Email", @Model.Email)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <fieldset>

        <p>@Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Email" })</p>
        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })


        <p><input type="submit" value="Verify"></p>

    </fieldset>

</form>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


