@model Vehicle.Client.Models.SendEmailCodeVm

@{
    ViewBag.Title = "SendEmailCodeVerification";
}

<h2>SendEmailCode</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SendEmailCodeVm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div id="login">

    <h1><strong>SendEmailCode.</strong></h1>
    @using (Html.BeginForm())
    {
        <form>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <fieldset>

                <p>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })</p>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                <p><input type="submit" value="Send"></p>

            </fieldset>

        </form>
    }


</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
